<nz-layout class="layout">
  <nz-sider nzCollapsible [nzTrigger]="null">
    <div class="logo"><img src="https://img.alicdn.com/imgextra/i2/O1CN01Az0hBv1Wut7WuD05K_!!6000000002849-55-tps-186-200.svg" alt=""><span>Angular</span></div>
    <ul class="live type2">
      <li [routerLink]="['/index/lessons-day1']">初学Angular</li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header *ngIf='!isIndex'>
      <button nz-button nzType="default" nzShape="circle" (click)="goBack()">
        <i nz-icon nzType="left" nzTheme="outline"></i>
      </button>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <ng-container [ngTemplateOutlet]="open" *ngIf='isIndex'></ng-container>
        <!-- 渲染视图 -->
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>angular🤺</nz-footer>
  </nz-layout>
</nz-layout>


<ng-template #open>
  <app-index-open></app-index-open>
</ng-template>
